// - - - - - - - - - - - - - - - - - - - - - animation
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

// - - - - - - - - - - - - - - - - - - - - - animation-delay
@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    animation-delay: $delay;
}

// - - - - - - - - - - - - - - - - - - - - - crossfading
@mixin crossfading($name, $n_images, $image_presentation_time, $cross_fading_duration) {
    $total_duration: ($image_presentation_time + $cross_fading_duration) * $n_images; // t
    @include keyframes(image-crossfading) {
        0%,
        100% {
            opacity: 0;
        }
        5% {
            opacity: 1;
        }
        #{(1/$n_images)*90}% {
            opacity: 1;
        }
        #{((1/$n_images)+(1/($total_duration)))*100}% {
            opacity: 0;
        }
    }
    img {
        @include animation(#{$name} #{$total_duration}s linear infinite);
        @include transition(opacity #{$cross_fading_duration}s ease-in-out);
        opacity: 0;
        display: block;
        left: 0px;
        position: absolute;
        width: 100%;
        @for $child from 2 through $n_images {
            &:nth-child(#{$child}) {
                @include animation-delay(#{($child - 1) * ($image_presentation_time + $cross_fading_duration)}s);
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - keyframes
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}