body {
    &.home {
        .site-content {
            margin: auto 0px 30px;
            padding-top: 0px;
        }
    }
    .site {
        max-width: $max_width;
        margin: auto;
        .container-fluid {
            max-width: $max_width;
            margin: auto;
        }
    }
    .site-content {
        max-width: $max_width;
        margin: auto 0px 25px;
        padding-top: 5px;
        @media (min-width: 768px) {
            padding-top: 35px;
        }
    }
    a,
    button,
    a:hover {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        outline: 0;
    }
}