@font-face {
    font-family: 'ralewaylight';
    src: url('../assets/fonts/raleway-light/raleway-light-webfont.eot');
    src: url('../assets/fonts/raleway-light/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/raleway-light/raleway-light-webfont.woff2') format('woff2'), url('../assets/fonts/raleway-light/raleway-light-webfont.woff') format('woff'), url('../assets/fonts/raleway-light/raleway-light-webfont.ttf') format('truetype'), url('../assets/fonts/raleway-light/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../assets/fonts/raleway-regular/raleway-regular-webfont.eot');
    src: url('../assets/fonts/raleway-regular/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/raleway-regular/raleway-regular-webfont.woff2') format('woff2'), url('../assets/fonts/raleway-regular/raleway-regular-webfont.woff') format('woff'), url('../assets/fonts/raleway-regular/raleway-regular-webfont.ttf') format('truetype'), url('../assets/fonts/raleway-regular/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../assets/fonts/raleway-semibold/raleway-semibold-webfont.eot');
    src: url('../assets/fonts/raleway-semibold/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/raleway-semibold/raleway-semibold-webfont.woff2') format('woff2'), url('../assets/fonts/raleway-semibold/raleway-semibold-webfont.woff') format('woff'), url('../assets/fonts/raleway-semibold/raleway-semibold-webfont.ttf') format('truetype'), url('../assets/fonts/raleway-semibold/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../assets/fonts/texgyreadventor-regular/texgyreadventor-regular-webfont.eot');
    src: url('../assets/fonts/texgyreadventor-regular/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/texgyreadventor-regular/texgyreadventor-regular-webfont.woff2') format('woff2'), url('../assets/fonts/texgyreadventor-regular/texgyreadventor-regular-webfont.woff') format('woff'), url('../assets/fonts/texgyreadventor-regular/texgyreadventor-regular-webfont.ttf') format('truetype'), url('../assets/fonts/texgyreadventor-regular/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tex_gyre_adventorbold';
    src: url('../assets/fonts/texgyreadventor-bold/texgyreadventor-bold-webfont.eot');
    src: url('../assets/fonts/texgyreadventor-bold/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/texgyreadventor-bold/texgyreadventor-bold-webfont.woff2') format('woff2'), url('../assets/fonts/texgyreadventor-bold/texgyreadventor-bold-webfont.woff') format('woff'), url('../assets/fonts/texgyreadventor-bold/texgyreadventor-bold-webfont.ttf') format('truetype'), url('../assets/fonts/texgyreadventor-bold/texgyreadventor-bold-webfont.svg#tex_gyre_adventorbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tex_gyre_adventorbold_italic';
    src: url('../assets/fonts/texgyreadventor-bolditalic/texgyreadventor-bolditalic-webfont.eot');
    src: url('../assets/fonts/texgyreadventor-bolditalic/texgyreadventor-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/texgyreadventor-bolditalic/texgyreadventor-bolditalic-webfont.woff2') format('woff2'), url('../assets/fonts/texgyreadventor-bolditalic/texgyreadventor-bolditalic-webfont.woff') format('woff'), url('../assets/fonts/texgyreadventor-bolditalic/texgyreadventor-bolditalic-webfont.ttf') format('truetype'), url('../assets/fonts/texgyreadventor-bolditalic/texgyreadventor-bolditalic-webfont.svg#tex_gyre_adventorbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.eot');
    src: url('../assets/fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.woff2') format('woff2'), url('../assets/fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.woff') format('woff'), url('../assets/fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.ttf') format('truetype'), url('../assets/fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'axisbold';
    src: url('../assets/fonts/axis-bold/axis-webfont.eot');
    src: url('../assets/fonts/axis-bold/axis-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/axis-bold/axis-webfont.woff2') format('woff2'), url('../assets/fonts/axis-bold/axis-webfont.woff') format('woff'), url('../assets/fonts/axis-bold/axis-webfont.ttf') format('truetype'), url('../assets/fonts/axis-bold/axis-webfont.svg#axisbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'the_bold_fontbold';
    src: url('../assets/fonts/boldfont-bold/theboldfont-webfont.eot');
    src: url('../assets/fonts/boldfont-bold/theboldfont-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/boldfont-bold/theboldfont-webfont.woff2') format('woff2'), url('../assets/fonts/boldfont-bold/theboldfont-webfont.woff') format('woff'), url('../assets/fonts/boldfont-bold/theboldfont-webfont.ttf') format('truetype'), url('../assets/fonts/boldfont-bold/theboldfont-webfont.svg#the_bold_fontbold') format('svg');
    font-weight: normal;
    font-style: normal;
}