footer {
    background-color: $azul_light;
    .container-footer {
        font-family: 'ralewaylight';
        .cont-footer {
            @media (min-width: 992px) {
                @include display-flex();
                @include justify-content(space-between);
                border-bottom: none;
                padding: 20px 0px;
            }
            >div {
                border-bottom: 4px solid $amarillo;
                padding: 25px 0px;
                @media (min-width: 992px) {
                    border-bottom: none;
                    border-right: none;
                    padding: 0px;
                }
            }
            &:last-child {
                @media (min-width: 992px) {
                    border-bottom: none;
                }
                >div {
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        .social-networks {
            @include display-flex();
            @include justify-content(space-between);
            @media (min-width: 768px) {
                @include justify-content(space-evenly);
            }
            @media (min-width: 992px) {
                width: 210px;
                @include justify-content(space-between);
                @include align-items(center);
            }
            @media (min-width: 1200px) {
                max-width: 250px;
                width: 100%;
            }
            a {
                i {
                    color: #fff;
                    font-size: 40px;
                    @media (min-width: 992px) {
                        font-size: 28px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 30px;
                    }
                }
            }
        }
        .sedes {
            @media (min-width: 768px) {
                @include display-flex();
            }
            .address {
                text-align: center;
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    margin-right: 15px;
                }
                @media (min-width: 992px) {
                    max-width: 245px;
                    width: 100%;
                }
                @media (min-width: 1200px) {
                    max-width: 230px;
                    width: 100%;
                    margin-right: 0px;
                }
                &:last-child {
                    margin-bottom: 0px;
                    @media (min-width: 768px) {
                        margin-right: 0px;
                    }
                }
                i {
                    color: $amarillo;
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                p {
                    color: #fff;
                    font-size: 17px;
                    line-height: 22px;
                    margin-bottom: 0px;
                    @media (min-width: 1200px) {
                        font-size: 14px;
                    }
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 17px;
                    @media (min-width: 1200px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .horario-general {
            padding: 25px 0px;
            border-bottom: 4px solid $amarillo;
            @media (min-width: 992px) {
                padding-top: 0px;
                padding-bottom: 20px;
                border-bottom: 2px solid $amarillo;
            }
            .texto {
                @include display-flex();
                color: #fff;
                font-size: 16px;
                @media (min-width: 480px) {
                    font-size: 17px;
                }
                @media (min-width: 768px) {
                    @include align-items(center);
                }
                @media (min-width: 992px) {
                    @include justify-content(flex-end);
                }
                @media (min-width: 1200px) {
                    font-size: 14px;
                }
                i {
                    color: $amarillo;
                    margin-right: 7px;
                    font-size: 25px;
                    line-height: 35px;
                    @media (min-width: 768px) {
                        line-height: 25px;
                    }
                }
            }
        }
        .cont-politicas {
            @media (min-width: 768px) {
                @include display-flex();
                @include justify-content(space-between);
            }
            .politicas {
                @media (min-width: 992px) {
                    margin-right: 25px;
                }
                @media (min-width: 1200px) {
                    @include display-flex();
                    margin-right: 0px;
                }
                &:last-child {
                    @media (min-width: 1200px) {
                        margin-right: 0px;
                    }
                }
                a {
                    @include display-flex();
                    @include align-items(center);
                    text-decoration: none;
                    color: #fff;
                    font-size: 17px;
                    margin-bottom: 15px;
                    @media (min-width: 1200px) {
                        font-size: 14px;
                        margin-bottom: 0px;
                        margin-right: 15px;
                    }
                    i {
                        color: $amarillo;
                        font-size: 22px;
                        margin-right: 7px;
                    }
                    &:last-child {
                        @media (min-width: 768px) {
                            margin-bottom: 0px;
                        }
                    }
                }
                &:last-child {
                    a {
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
        .copyright {
            @media (min-width: 992px) {
                @include display-flex();
                @include align-items(flex-end);
            }
            p {
                color: #fff;
                font-size: 17px;
                line-height: 22px;
                margin-bottom: 0px;
                @media (min-width: 1200px) {
                    font-size: 14px;
                }
                i {
                    color: #fff;
                    margin-right: 5px;
                }
            }
        }
    }
}