header {
    // position: fixed;
    z-index: 999;
    background-color: #fff;
    max-width: $max_width;
    width: 100%;
    @include display-flex();
    @include justify-content(center);
    .container-header {
        width: 100%;
        &.border-down {
            border-bottom: 1px solid #d2d2d2;
        }
        @media (min-width: 768px) {
            padding: 15px;
            @include display-flex();
            @include justify-content(space-between);
            @include align-items(center);
        }
        @media (min-width: 992px) {
            padding: 15px;
        }
        .container-logo {
            width: 100%;
            margin: 10px 0px;
            padding: 0px 25px;
            @include display-flex();
            @include justify-content(center);
            @media (min-width: 768px) {
                margin: 0px;
                padding: 0px;
                max-width: 240px;
            }
            @media (min-width: 992px) {
                max-width: 270px;
            }
            a {
                display: inline-block;
                img {
                    width: 100%;
                    height: auto;
                    @media (min-width: 320px) {
                        max-width: 320px;
                    }
                    @media (min-width: 768px) {
                        max-width: 100%;
                    }
                }
            }
        }
        .container-sobre-igc-ubic-menu {
            font-family: 'ralewaylight';
            .header-sup {
                display: none;
                @media (min-width: 768px) {
                    @include display-flex();
                    @include justify-content(flex-end);
                    margin-bottom: 30px;
                }
                @media (min-width: 992px) {
                    margin-bottom: 40px;
                }
                a {
                    color: $gris;
                    text-decoration: none;
                    padding: 0px 15px;
                    font-size: 16px;
                    line-height: 16px;
                    border-right: 2px solid $amarillo;
                    &:first-child {
                        padding-left: 0px;
                    }
                    &:last-child {
                        padding-right: 0px;
                        border-right: none;
                    }
                    i {
                        color: $amarillo;
                        margin-right: 5px;
                    }
                }
            }
            .phone-menu {
                @include display-flex();
                @include justify-content(space-between);
                @include align-items(center);
                padding: 0px 25px;
                margin: 10px 0px;
                @media (min-width: 768px) {
                    padding: 0px;
                    margin: 0px;
                    @include justify-content(flex-end);
                }
                .phone {
                    @media (min-width: 768px) {
                        margin-right: 20px;
                    }
                    a {
                        color: $gris;
                        text-decoration: none;
                        font-size: 16px;
                        @include display-flex();
                        @include align-items(center);
                        i {
                            color: $amarillo;
                            margin-right: 5px;
                        }
                    }
                }
                .menu-desktop {
                    display: none;
                    @media (min-width: 768px) {
                        display: block;
                    }
                    .menu-menu-principal-container {
                        .menu {
                            padding: 0px;
                            margin: 0px;
                            background-color: $azul;
                            @include display-flex();
                            li {
                                list-style: none;
                                padding-top: 8px;
                                padding-bottom: 10px;
                                a {
                                    display: block;
                                    text-decoration: none;
                                    color: #fff;
                                    font-size: 15px;
                                    line-height: 15px;
                                    padding: 0px 15px 0px;
                                    border-right: 2px solid #F7B051;
                                    @media (min-width: 992px) {
                                        padding: 0px 25px 0px;
                                    }
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                                &:last-child {
                                    a {
                                        border-right: none;
                                    }
                                }
                                @media (min-width: 768px) {
                                    &.menu-item-has-children {
                                        &:hover {
                                            .sub-menu {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                                .sub-menu {
                                    padding-left: 0px;
                                    background-color: $azul_light;
                                    @media (min-width: 768px) {
                                        position: absolute;
                                        top: 95px;
                                        z-index: 999;
                                        display: none;
                                    }
                                    @media (min-width: 992px) {
                                        top: 105px;
                                    }
                                    li {
                                        list-style: none;
                                        padding-top: 10px;
                                        padding-bottom: 12px;
                                        a {
                                            border-right: none;
                                            color: #fff;
                                            &:hover {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .menu-mobile {
                    @media (min-width: 768px) {
                        display: none;
                    }
                    .icon-burguer-menu {
                        line-height: 17px;
                        .navbar-toggler {
                            padding: 0px;
                            .icon-bar {
                                display: block;
                                width: 22px;
                                height: 2px;
                                border-radius: 1px;
                                background-color: $azul;
                            }
                            .icon-bar+.icon-bar {
                                margin-top: 4px;
                            }
                        }
                    }
                }
            }
            .custom-menu-mobile {
                background-color: $azul;
                padding: 20px 0px;
                .menu {
                    margin: 0px;
                    padding: 0px;
                    li {
                        list-style: none;
                        text-align: center;
                        margin-bottom: 23px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                        &.menu-item-has-children {
                            &:hover {
                                cursor: pointer;
                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                        .sub-menu {
                            padding-left: 0px;
                            margin-top: 23px;
                            background-color: $azul_light;
                            display: none;
                            li {
                                padding-top: 10px;
                                padding-bottom: 12px;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    .container-ctas-pages {
        position: absolute;
        width: 100%;
        max-width: $max_width;
        // z-index: 999;
        .cont-pages {
            position: relative;
            z-index: 1;
            padding: 15px 6px;
            background-color: rgba($color: $azul, $alpha: 0.7);
            @media (min-width: 768px) {
                @include display-flex();
                @include justify-content(center);
                @include flex-wrap(wrap);
                padding: 15px 6px 0px;
            }
            @media (min-width: 992px) {
                padding: 15px 53px 0px;
            }
            @media (min-width: 1200px) {
                padding: 15px 73px;
            }
            .cont-cta-page {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0px;
                }
                @media (min-width: 768px) {
                    flex: 1 0 33%;
                    padding: 0px 9px 15px;
                    margin-bottom: 0px;
                }
                @media (min-width: 1200px) {
                    flex: 1 0 10%;
                    padding: 0px 9px;
                }
                a {
                    font-family: 'ralewaylight';
                    @include display-flex();
                    @include justify-content(space-between);
                    text-decoration: none;
                    padding: 10px 10px 12px;
                    color: #fff;
                    border: 1px solid #fff;
                    font-size: 17px;
                    @media (min-width: 768px) {
                        @include justify-content(center);
                    }
                    @media (min-width: 992px) {
                        font-size: 18px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 16px;
                    }
                    &:hover {
                        background-color: $azul;
                    }
                    span {
                        font-family: 'ralewaysemibold';
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}