.template-homepage {
    .container-portada-principal {
        position: relative;
        height: 100vh;
        overflow: hidden;
        margin-left: -15px;
        margin-right: -15px;
        .imagen-version-movil {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: 75% center;
            background-repeat: no-repeat;
        }
        .container-video {
            .video-bg-black {
                position: absolute;
                width: 100%;
                height: 100%;
                min-width: 100%;
                min-height: 100%;
                left: 0;
                top: 0;
                z-index: 1;
                background-color: #000;
                opacity: 0.4;
            }
            video {
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                z-index: -100;
                transform: translateX(-50%) translateY(-50%);
                background-size: cover;
            }
        }
        .cont-title-main-page {
            position: relative;
            z-index: 1;
            padding-top: 230px;
            @media (min-width: 480px) {
                padding-top: 90px;
                //padding-top: 80px;
            }
            @media (min-width: 768px) {
                padding-top: 325px;
                //padding-top: 280px;
            }
            @media (min-width: 992px) {
                padding-top: 215px;
                // padding-top: 175px;
            }
            @media (min-width: 1200px) {
                padding-top: 130px;
                // padding-top: 60px;
            }
            .title {
                text-align: center;
                padding: 0px 15px;
                color: #fff;
                @media (min-width: 768px) {
                    margin: 0px auto;
                    max-width: 625px;
                    width: 100%;
                }
                @media (min-width: 992px) {
                    max-width: 770px;
                }
                @media (min-width: 1200px) {
                    max-width: 820px;
                }
                .titulo-1 {
                    * {
                        font-family: 'the_bold_fontbold';
                        font-size: 38px;
                        margin-bottom: 0px;
                        @media (min-width: 480px) {
                            font-size: 43px;
                        }
                        @media (min-width: 768px) {
                            font-size: 80px;
                            line-height: 80px;
                        }
                        @media (min-width: 992px) {
                            font-size: 100px;
                            line-height: 100px;
                        }
                        @media (min-width: 1200px) {
                            font-size: 110px;
                            line-height: 110px;
                        }
                        img {
                            max-width: 230px;
                            width: 100%;
                            height: auto;
                            @media (min-width: 768px) {
                                max-width: 350px;
                            }
                            @media (min-width: 992px) {
                                max-width: 400px;
                            }
                            @media (min-width: 1200px) {
                                max-width: 500px;
                            }
                        }
                    }
                }
                .titulo-2 {
                    * {
                        font-family: 'tex_gyre_adventorbold';
                        font-size: 25px;
                        margin-bottom: 0px;
                        @media (min-width: 480px) {
                            font-size: 29px;
                        }
                        @media (min-width: 768px) {
                            font-size: 50px;
                            line-height: 50px;
                        }
                        @media (min-width: 992px) {
                            font-size: 60px;
                            line-height: 65px;
                        }
                        @media (min-width: 1200px) {
                            font-size: 65px;
                            line-height: 70px;
                        }
                    }
                }
            }
        }
        .container-main-button {
            position: relative;
            z-index: 1;
            @include display-flex();
            @include justify-content(center);
            margin-top: 20px;
            a {
                display: block;
                font-family: 'tex_gyre_adventorbold';
                text-decoration: none;
                text-align: center;
                font-size: 17px;
                line-height: 19px;
                background-color: $amarillo;
                color: $azul;
                padding: 12px 13px 15px;
                border-radius: 25px;
                @media (min-width: 768px) {
                    font-size: 20px;
                    line-height: 22px;
                    padding: 12px 18px 15px;
                }
            }
        }
        .container-ctas-pages {
            position: absolute;
            width: 100%;
            bottom: 0px;
            .cont-pages {
                position: relative;
                z-index: 1;
                padding: 20px 10px;
                background-color: rgba($color: $azul, $alpha: 0.8);
                @media (min-width: 768px) {
                    @include display-flex();
                    @include justify-content(center);
                    @include flex-wrap(wrap);
                    padding: 20px 10px 5px;
                }
                @media (min-width: 992px) {
                    padding: 20px 10px;
                }
                @media (min-width: 1200px) {
                    padding: 20px;
                }
                .cont-cta-page {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 768px) {
                        flex: 1 0 33%;
                        padding: 0px 9px;
                        margin-bottom: 15px;
                    }
                    @media (min-width: 992px) {
                        flex: 1 0 10%;
                        padding: 0px 5px;
                        margin-bottom: 0px;
                    }
                    a {
                        font-family: 'ralewaylight';
                        @include display-flex();
                        @include justify-content(space-between);
                        text-decoration: none;
                        padding: 10px 10px 12px;
                        color: #fff;
                        border: 1px solid #fff;
                        font-size: 17px;
                        @media (min-width: 768px) {
                            @include justify-content(center);
                            font-size: 20px;
                        }
                        @media (min-width: 992px) {
                            padding: 10px 8px 12px;
                            font-size: 15px;
                        }
                        @media (min-width: 1200px) {
                            font-size: 18px;
                        }
                        &:hover {
                            background-color: $azul;
                        }
                        span {
                            font-family: 'ralewaysemibold';
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    .container-main-text {
        .text {
            margin: 20px 0px;
            text-align: center;
            @media (min-width: 768px) {
                max-width: 600px;
                width: 100%;
                margin: 40px auto 0px;
            }
            @media (min-width: 992px) {
                max-width: 700px;
            }
            * {
                font-family: 'ralewaylight';
                font-size: 19px;
                line-height: 25px;
                color: $gris;
                @media (min-width: 992px) {
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }
    }
    .container-imagen-banner {
        margin: 40px -15px;
        @media (min-width: 768px) {
            margin: 60px -15px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .container-visit-main-site {
        @media (min-width: 768px) {
            @include display-flex();
            @include justify-content(center);
            @include align-items(center);
        }
        .text-visit {
            @media (min-width: 768px) {
                margin-right: 25px;
            }
            * {
                font-family: 'ralewaylight';
                text-align: center;
                font-size: 17px;
                line-height: 23px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                }
            }
        }
        .imagen-main-site {
            @include display-flex();
            @include justify-content(center);
            margin: 20px 0px;
            a {
                display: block;
                img {
                    max-width: 270px;
                    width: 100%;
                    height: auto;
                    @media (min-width: 768px) {
                        max-width: 300px;
                    }
                }
            }
        }
    }
    .container-partners {
        @media (min-width: 1200px) {
            min-height: 235px;
            @include display-flex();
            @include align-items (center);
            margin-right: -15px;
        }
        .partners {
            margin: 30px 0px 15px;
            @media (min-width: 768px) {
                margin-top: 40px;
            }
            @media (min-width: 1200px) {
                margin-bottom: 0px;
                width: 100%;
            }
            h3 {
                font-family: 'tex_gyre_adventorbold';
                color: $azul;
                text-align: center;
                font-size: 29px;
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    text-align: left;
                    margin-bottom: 20px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 10px;
                }
            }
            ul {
                padding: 0px;
                margin: 0px;
                @media (min-width: 768px) {
                    @include display-flex();
                    @include align-items(center);
                    @include justify-content(space-between);
                }
                li {
                    list-style: none;
                    text-align: center;
                    margin-bottom: 30px;
                    @media (min-width: 768px) {
                        margin-right: 10px;
                        margin-bottom: 0px;
                    }
                    &:last-child {
                        margin-bottom: 0px;
                        @media (min-width: 768px) {
                            margin-right: 0px;
                        }
                    }
                    img {
                        max-width: 190px;
                        width: 100%;
                        height: auto;
                        @media (min-width: 768px) {
                            max-width: 230px;
                        }
                        @media (min-width: 1200px) {
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
}