.template-single-post {
    .container-single-post {
        margin-top: 25px;
        @media (min-width: 768px) {
            margin-top: 150px;
        }
        @media (min-width: 1200px) {
            margin-top: 90px;
        }
        .cta-back-title-general-single-post {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-single-post {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-single-post {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .imagen {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .info-post {
                font-family: 'ralewaylight';
                color: $gris;
                text-align: justify;
                h2 {
                    font-family: 'texgyreadventorregular';
                    color: $azul_light;
                    font-size: 27px;
                    line-height: 35px;
                    margin: 20px 0px;
                }
                iframe {
                    width: 100%;
                    height: auto;
                    @media (min-width: 480px) {
                        height: 250px;
                    }
                    @media (min-width: 768px) {
                        width: 640px;
                        height: 360px;
                    }
                }
            }
            .autor-fecha {
                font-family: 'ralewaylight';
                color: $azul_light;
                @include display-flex();
                @include justify-content(space-between);
                margin-top: 20px;
                padding-bottom: 12px;
                border-bottom: 2px solid $amarillo;
                p {
                    font-size: 17px;
                    margin-bottom: 0px;
                }
            }
            .share-social-networks {
                padding-top: 20px;
                padding-bottom: 12px;
                color: $azul_light;
                @include display-flex();
                @include justify-content(space-between);
                @include align-items(flex-end);
                p {
                    font-family: 'texgyreadventorregular';
                    margin-bottom: 0px;
                    line-height: 19px;
                }
                .social-networks {
                    a {
                        color: $azul_light;
                        display: inline-block;
                        margin-right: 15px;
                        &:last-child {
                            margin-right: 0px;
                        }
                        i {
                            font-size: 25px;
                        }
                    }
                }
            }
            .contenido-relacionado {
                padding-top: 20px;
                border-top: 2px solid $amarillo;
                @media (min-width: 768px) {
                    padding-bottom: 20px;
                }
                p {
                    font-family: 'texgyreadventorregular';
                    color: $azul_light;
                    margin-bottom: 20px;
                    @media (min-width: 768px) {
                        margin-bottom: 30px;
                    }
                }
                .cont-post-related {
                    @media (min-width: 768px) {
                        @include display-flex();
                    }
                    a {
                        display: block;
                        text-decoration: none;
                        margin-bottom: 30px;
                        @media (min-width: 768px) {
                            margin-bottom: 0px;
                            width: 33.3%;
                            padding: 0px 7px;
                        }
                        &:first-child {
                            @media (min-width: 768px) {
                                padding-left: 0px;
                            }
                        }
                        &:last-child {
                            margin-bottom: 0px;
                            @media (min-width: 768px) {
                                padding-right: 0px;
                            }
                        }
                        .image-post-related-bg {
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                            position: relative;
                            height: 200px;
                            @media (min-width: 768px) {
                                height: 239px;
                            }
                            @media (min-width: 992px) {
                                height: 250px;
                            }
                            &:hover {
                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    left: 0;
                                    bottom: 0;
                                    background-color: $azul;
                                    opacity: 0.6;
                                }
                                .overlay {
                                    .title-post-hover {
                                        display: block;
                                    }
                                    i {
                                        display: block;
                                    }
                                }
                            }
                            .overlay {
                                width: 100%;
                                height: 100%;
                                @include display-flex();
                                @include justify-content(center);
                                @include align-items(center);
                                @include flex-direction(column);
                                .title-post-hover {
                                    position: relative;
                                    color: #fff;
                                    font-size: 20px;
                                    margin-bottom: 15px;
                                    padding: 0px 15px;
                                    display: none;
                                }
                                i {
                                    position: relative;
                                    color: $amarillo;
                                    font-size: 47px;
                                    display: none;
                                }
                            }
                        }
                        .title-post-related {
                            font-family: 'texgyreadventorregular';
                            color: $azul_light;
                            font-size: 22px;
                            line-height: 23px;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}