.template-programs-info {
    .container-program-info {
        margin-top: 25px;
        @media (min-width: 768px) {
            margin-top: 160px;
            position: relative;
        }
        @media (min-width: 1200px) {
            margin-top: 100px;
        }
        .cta-back-title-general-curso {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-program-info {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 0px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-class-info {
            @media (min-width: 992px) {
                @include display-flex();
                @include justify-content(center);
            }
            .container-clase-info {
                @media (min-width: 768px) {
                    @include display-flex();
                    @include flex-wrap(wrap);
                    padding: 20px 0px;
                }
                @media (min-width: 1200px) {
                    padding: 60px 0px;
                    max-width: 1000px;
                    width: 100%;
                }
                .cont-clase-info {
                    .clase-info {
                        border: 1px solid $azul_light;
                        padding: 15px;
                        box-shadow: 0 0 15px #D7D7D7;
                        @media (min-width: 992px) {
                            padding: 15px 15px 50px 15px;
                        }
                        .info {
                            &.left {
                                @media (min-width: 992px) {
                                    position: relative;
                                    height: 100%;
                                }
                            }
                            img {
                                width: 100%;
                                height: auto;
                                margin-bottom: 7px;
                            }
                            .titulo-curso {
                                * {
                                    font-family: 'texgyreadventorregular';
                                    font-size: 27px;
                                    line-height: 40px;
                                    color: $azul;
                                    margin-bottom: 10px;
                                    @media (min-width: 768px) {
                                        font-size: 40px;
                                        line-height: 53px;
                                    }
                                    @media (min-width: 1200px) {
                                        font-size: 45px;
                                        line-height: 58px;
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                            .small-info {
                                font-family: 'ralewaylight';
                                color: $gris;
                                text-align: justify;
                                margin-bottom: 25px;
                            }
                            .cta-reserva-ahora {
                                a {
                                    display: block;
                                    font-family: 'texgyreadventorregular';
                                    text-decoration: none;
                                    text-align: center;
                                    font-size: 16px;
                                    line-height: 17px;
                                    background-color: $amarillo;
                                    color: $azul_light;
                                    padding: 12px 0px 14px;
                                    margin-bottom: 10px;
                                    @media (min-width: 992px) {
                                        font-size: 18px;
                                        line-height: 19px;
                                        margin-bottom: 0px;
                                    }
                                }
                            }
                            .sistema-bonos {
                                margin: 20px 0px;
                                @media (min-width: 768px) {
                                    margin: 20px 0px 10px;
                                    @include display-flex();
                                    @include justify-content(center);
                                    @include align-items (center);
                                }
                                @media (min-width: 992px) {
                                    @include justify-content(flex-start);
                                }
                                .icon-bonos {
                                    text-align: center;
                                    i {
                                        color: $azul;
                                        font-size: 65px;
                                        margin-bottom: 15px;
                                        @media (min-width: 768px) {
                                            margin-bottom: 0px;
                                            margin-right: 20px;
                                        }
                                    }
                                }
                                .info-bonos {
                                    color: $azul;
                                    font-family: 'ralewaylight';
                                    @include display-flex();
                                    @include flex-direction(column);
                                    @include align-items(center);
                                    @media (min-width: 768px) {
                                        @include align-items(flex-start);
                                    }
                                    .title-bonos {
                                        * {
                                            font-weight: 800;
                                            font-size: 20px;
                                            line-height: 21px;
                                            margin-bottom: 5px;
                                        }
                                    }
                                    .desc-bonos {
                                        * {
                                            font-size: 17px;
                                            line-height: 23px;
                                            margin-bottom: 0px;
                                        }
                                    }
                                }
                            }
                            .alumnos-distri-inicio-certi {
                                @include display-flex();
                                @include justify-content(center);
                                @include flex-wrap(wrap);
                                padding-bottom: 30px;
                                .item {
                                    flex: 1 0 100%;
                                    text-align: center;
                                    font-family: 'ralewaylight';
                                    margin-bottom: 20px;
                                    @media (min-width: 768px) {
                                        flex: 1 0 50%;
                                        margin-bottom: 0px;
                                        padding: 25px 10px 0px 10px;
                                        max-width: 270px;
                                        width: 100%;
                                    }
                                    @media (min-width: 992px) {
                                        max-width: 100%;
                                    }
                                    &:last-child {
                                        margin-bottom: 0px;
                                    }
                                    i {
                                        color: $azul;
                                        font-size: 45px;
                                        margin-bottom: 7px;
                                    }
                                    .title-item {
                                        * {
                                            color: $azul;
                                            font-size: 20px;
                                            line-height: 27px;
                                            font-weight: 800;
                                            margin-bottom: 0px;
                                            @media (min-width: 1200px) {
                                                font-size: 18px;
                                                line-height: 25px;
                                            }
                                        }
                                    }
                                    .text-item {
                                        * {
                                            color: $gris;
                                            margin-bottom: 0px;
                                        }
                                    }
                                }
                            }
                            .container-general-precios {
                                border-top: 4px solid $amarillo;
                                padding-top: 30px;
                                @media (min-width: 768px) {
                                    @include display-flex();
                                    @include justify-content(center);
                                }
                                .container-precios {
                                    font-family: 'ralewaylight';
                                    @media (min-width: 768px) {
                                        @include display-flex();
                                        max-width: 500px;
                                        width: 100%;
                                    }
                                    .icon-euros {
                                        text-align: center;
                                        margin-bottom: 15px;
                                        @media (min-width: 768px) {
                                            margin-bottom: 0px;
                                            margin-right: 20px;
                                        }
                                        i {
                                            color: $azul;
                                            font-size: 65px;
                                        }
                                    }
                                    .cont-info-prices {
                                        width: 100%;
                                        .prices-hours {
                                            margin-bottom: 20px;
                                            &.uni-adultos {
                                                color: $azul_light;
                                                font-size: 20px;
                                                strong {
                                                    color: $azul;
                                                }
                                                ul {
                                                    li {
                                                        flex: 1 0 100%;
                                                    }
                                                }
                                            }
                                            ul {
                                                margin: 0px;
                                                padding: 0px;
                                                @media (min-width: 768px) {
                                                    @include display-flex();
                                                    @include flex-wrap(wrap);
                                                }
                                                li {
                                                    list-style: none;
                                                    color: $azul_light;
                                                    font-size: 17px;
                                                    @media (min-width: 768px) {
                                                        flex: 1 0 50%;
                                                    }
                                                    i {
                                                        margin-right: 5px;
                                                        color: $amarillo;
                                                        font-size: 17px;
                                                    }
                                                }
                                            }
                                        }
                                        .text-matricula {
                                            margin-top: 10px;
                                            * {
                                                color: $gris;
                                                text-align: justify;
                                                margin-bottom: 0px;
                                            }
                                        }
                                        .list-coste-libros {
                                            .titulo-coste-libros {
                                                * {
                                                    color: $azul;
                                                    font-size: 17px;
                                                    font-weight: 800;
                                                    margin-bottom: 15px;
                                                }
                                            }
                                            ul {
                                                margin: 0px;
                                                padding: 0px;
                                                li {
                                                    list-style: none;
                                                    color: $gris;
                                                    margin-bottom: 10px;
                                                    &:last-child {
                                                        margin-bottom: 0px;
                                                    }
                                                    i {
                                                        margin-right: 5px;
                                                        color: $amarillo;
                                                        font-size: 17px;
                                                    }
                                                    .nivel {
                                                        color: $azul_light;
                                                    }
                                                }
                                            }
                                        }
                                        .inclusion-libros {
                                            * {
                                                margin-top: 15px;
                                                color: $gris;
                                                text-align: justify;
                                            }
                                        }
                                        .precio-total-curso {
                                            color: $gris;
                                            text-align: justify;
                                            span {
                                                color: $azul_light;
                                            }
                                        }
                                        .detalles-info {
                                            color: $gris;
                                            text-align: justify;
                                        }
                                        .texto-igic {
                                            * {
                                                margin-top: 25px;
                                                margin-bottom: 0px;
                                                text-align: right;
                                                font-style: italic;
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                            .texto-igic-uni-adultos {
                                * {
                                    font-family: 'ralewaylight';
                                    margin-top: 20px;
                                    margin-bottom: 0px;
                                    text-align: right;
                                    font-style: italic;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}