.template-blog {
    .container-blog {
        margin-top: 25px;
        @media (min-width: 768px) {
            margin-top: 150px;
        }
        @media (min-width: 1200px) {
            margin-top: 100px;
        }
        .cta-back-title-general-blog {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-blog {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-blog {
            @media (min-width: 992px) {
                max-width: 900px;
                width: 100%;
                margin: 50px auto 25px;
            }
            @media (min-width: 1200px) {
                max-width: 1100px;
            }
            .pt-cv-wrapper {
                .pt-cv-title {
                    a {
                        font-family: 'texgyreadventorregular';
                        color: $azul_light;
                        font-size: 25px;
                        font-weight: 400;
                    }
                }
                .pt-cv-content {
                    font-family: 'ralewaylight';
                    color: $gris;
                }
                .pt-cv-readmore {
                    font-family: 'texgyreadventorregular';
                    background-color: $amarillo;
                    color: $azul_light;
                    border-color: $amarillo;
                    padding-bottom: 8px;
                    &:hover {
                        background-color: $azul;
                        color: $amarillo;
                        border-color: $azul;
                    }
                }
                .pt-cv-pagination-wrapper {
                    text-align: center;
                    .pagination {
                        li {
                            a {
                                color: $azul_light;
                            }
                        }
                        .active {
                            a {
                                background-color: $azul_light;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}