.template-meet-our-team {
    .container-meet-our-team {
        @media (min-width: 768px) {
            padding-top: 140px;
        }
        @media (min-width: 992px) {
            padding-top: 100px;
        }
        @media (min-width: 1200px) {
            padding-top: 30px;
        }
        .container-general-info-meet-our-team {
            @media (min-width: 992px) {
                max-width: 900px;
                width: 100%;
                margin: 50px auto 25px;
            }
            @media (min-width: 1200px) {
                max-width: 1100px;
            }
            .container-video {
                iframe {
                    width: 100%;
                    height: 200px;
                    @media (min-width: 480px) {
                        height: 250px;
                    }
                    @media (min-width: 768px) {
                        height: 300px;
                    }
                    @media (min-width: 992px) {
                        height: 400px;
                    }
                }
            }
            .texto-meet-our-team {
                font-family: 'ralewaylight';
                color: $gris;
                margin-top: 20px;
            }
        }
    }
}