.template-teaching-method {
    .container-teaching-method {
        .container-imagen-header-bg-title {
            margin-left: -15px;
            margin-right: -15px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 200px;
            @include display-flex();
            @include justify-content(center);
            @include align-items(center);
            position: relative;
            @media (min-width: 768px) {
                margin-top: -35px;
                height: 450px;
            }
            @media (min-width: 992px) {
                height: 500px;
            }
            @media (min-width: 1200px) {
                background-position: center top;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.28);
            }
            .titulo {
                max-width: 180px;
                width: 100%;
                text-align: center;
                position: relative;
                @media (min-width: 768px) {
                    max-width: 360px;
                    padding-top: 140px;
                }
                @media (min-width: 992px) {
                    max-width: 550px;
                }
                @media (min-width: 1200px) {
                    max-width: 650px;
                    padding-top: 80px;
                }
                * {
                    font-family: 'the_bold_fontbold';
                    color: #fff;
                    font-size: 35px;
                    margin-bottom: 0px;
                    text-shadow: 5px 5px 15px #000;
                    @media (min-width: 768px) {
                        font-size: 70px;
                        line-height: 80px;
                    }
                    @media (min-width: 992px) {
                        font-size: 105px;
                        line-height: 120px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 125px;
                        line-height: 140px;
                    }
                }
            }
        }
        .container-general-info-teaching-method {
            margin: 25px 0px;
            @media (min-width: 992px) {
                max-width: 900px;
                width: 100%;
                margin: 50px auto;
            }
            @media (min-width: 1200px) {
                max-width: 1100px;
            }
            .texto-principal {
                font-family: 'ralewaylight';
                color: $gris;
                text-align: justify;
                margin-bottom: 30px;
                @media (min-width: 1200px) {
                    margin-bottom: 50px;
                }
            }
            .item-info {
                margin-bottom: 30px;
                @media (min-width: 1200px) {
                    margin-bottom: 50px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
                .titulo {
                    margin-bottom: 25px;
                    * {
                        font-family: 'tex_gyre_adventorbold';
                        color: $azul;
                        text-align: center;
                        font-size: 24px;
                        margin-bottom: 0px;
                    }
                    &:after {
                        content: "";
                        display: block;
                        width: 260px;
                        height: 2px;
                        left: 0px;
                        margin: 15px auto 15px auto;
                        background-color: $amarillo;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                    }
                }
                .texto {
                    font-family: 'ralewaylight';
                    color: $gris;
                    text-align: justify;
                }
                img {
                    width: 100%;
                    height: auto;
                }
                &.key-steps {
                    .steps {
                        @include display-flex();
                        @include justify-content(center);
                        @media (min-width: 992px) {
                            max-width: 650px;
                            margin: 0px auto;
                        }
                        ul {
                            padding: 0px;
                            margin: 0px;
                            li {
                                list-style: none;
                                margin-bottom: 20px;
                                @include display-flex();
                                @include flex-direction(column);
                                @include align-items(center);
                                @media (min-width: 768px) {
                                    @include flex-direction(row);
                                }
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                                img {
                                    max-width: 260px;
                                    width: 100%;
                                    height: auto;
                                    margin-bottom: 10px;
                                    @media (min-width: 768px) {
                                        margin-bottom: 0px;
                                        margin-right: 15px;
                                    }
                                }
                                div {
                                    font-family: 'ralewaylight';
                                    color: $gris;
                                    text-align: center;
                                    @media (min-width: 768px) {
                                        text-align: justify;
                                    }
                                    p {
                                        margin-bottom: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
                &.our-levels {
                    .imagen {
                        @media (min-width: 992px) {
                            text-align: center;
                        }
                        img {
                            @media (min-width: 992px) {
                                max-width: 750px;
                            }
                            @media (min-width: 1200px) {
                                max-width: 800px;
                            }
                        }
                    }
                }
            }
        }
    }
}