.template-programs {
    .container-programs {
        margin-top: 25px;
        @media (min-width: 768px) {
            position: relative;
            margin-top: 140px;
        }
        @media (min-width: 1200px) {
            margin-top: 80px;
        }
        .cta-back-title-general-programs {
            .title-programs {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 0px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-main-info {
            font-family: 'ralewaylight';
            color: $gris;
            @media (min-width: 1200px) {
                max-width: 1000px;
                margin: 30px auto 0px;
            }
        }
        .container-select-item-program {
            margin-bottom: 30px;
            @media (min-width: 768px) {
                margin-bottom: 20px;
                padding: 15px 10px 0px;
            }
            @media (min-width: 992px) {
                max-width: 800px;
                width: 45%;
                @include display-flex();
                @include align-items(center);
                margin: 0px auto;
                padding: 20px 0px;
            }
            p {
                font-family: 'texgyreadventorregular';
                color: $azul_light;
                @media (min-width: 992px) {
                    margin-bottom: 0px;
                    margin-right: 20px;
                }
            }
            select {
                width: 100%;
                @media (min-width: 992px) {
                    flex: 1;
                }
            }
        }
        .container-general-class {
            @media (min-width: 992px) {
                @include display-flex();
                @include justify-content(center);
            }
            .container-clases {
                @media (min-width: 768px) {
                    @include display-flex();
                    @include flex-wrap(wrap);
                    padding: 20px 0px;
                }
                @media (min-width: 992px) {
                    max-width: 800px;
                    width: 100%;
                }
                .cont-clase {
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 768px) {
                        flex: 1 0 50%;
                        margin-bottom: 0px;
                        padding: 0px 9px 25px 9px;
                    }
                    .clase {
                        border: 1px solid $azul_light;
                        padding: 15px;
                        box-shadow: 0 0 15px #D7D7D7;
                        width: 100%;
                        @media (min-width: 768px) {
                            max-width: 351px;
                        }
                        img {
                            width: 100%;
                            height: auto;
                            margin-bottom: 7px;
                            @media (min-width: 768px) {
                                height: 212px;
                            }
                        }
                        a {
                            text-decoration: none;
                            .titulo {
                                * {
                                    font-family: 'texgyreadventorregular';
                                    font-size: 27px;
                                    line-height: 40px;
                                    color: $azul;
                                    margin-bottom: 10px;
                                    @media (min-width: 768px) {
                                        font-size: 30px;
                                        line-height: 43px;
                                    }
                                    @media (min-width: 1200px) {
                                        font-size: 26px;
                                        line-height: 38px;
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                        .small-info {
                            font-family: 'ralewaylight';
                            color: $gris;
                            text-align: justify;
                            margin-bottom: 25px;
                        }
                        .ctas-info-reserva {
                            a {
                                display: block;
                                font-family: 'texgyreadventorregular';
                                text-decoration: none;
                                text-align: center;
                                font-size: 16px;
                                line-height: 17px;
                                background-color: $amarillo;
                                color: $azul_light;
                                padding: 12px 0px 14px;
                                margin-bottom: 10px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}