.template-accommodations {
    .container-accommodations {
        .container-imagen-header-bg-title {
            margin-left: -15px;
            margin-right: -15px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 200px;
            @include display-flex();
            @include justify-content(center);
            @include align-items(center);
            @media (min-width: 768px) {
                margin-top: -35px;
                height: 450px;
            }
            @media (min-width: 992px) {
                height: 500px;
            }
            .titulo {
                text-align: center;
                @media (min-width: 768px) {
                    padding-top: 140px;
                }
                @media (min-width: 1200px) {
                    padding-top: 80px;
                }
                * {
                    font-family: 'the_bold_fontbold';
                    color: #fff;
                    font-size: 35px;
                    margin-bottom: 0px;
                    @media (min-width: 768px) {
                        font-size: 70px;
                        line-height: 80px;
                    }
                    @media (min-width: 992px) {
                        font-size: 105px;
                        line-height: 120px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 125px;
                        line-height: 140px;
                    }
                }
            }
        }
        .container-general-info-accommodations {
            margin: 25px 0px;
            @media (min-width: 992px) {
                max-width: 900px;
                width: 100%;
                margin: 50px auto;
            }
            @media (min-width: 1200px) {
                max-width: 1100px;
            }
            .item-info {
                font-family: 'ralewaylight';
                img {
                    width: 100%;
                    height: auto;
                }
                .imagenes-info {
                    margin-top: 15px;
                    @media (min-width: 768px) {
                        @include display-flex();
                        @include justify-content(center);
                    }
                    @media (min-width: 992px) {
                        margin-top: 0px;
                    }
                    ul {
                        margin: 0px;
                        padding: 0px;
                        li {
                            list-style: none;
                            margin-bottom: 20px;
                            @media (min-width: 992px) {
                                margin-bottom: 40px;
                            }
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            img {
                                width: 100%;
                                height: auto;
                                @media (min-width: 768px) {
                                    max-width: 500px;
                                }
                                @media (min-width: 992px) {
                                    max-width: 350px;
                                }
                                @media (min-width: 1200px) {
                                    max-width: 400px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}