.template-search {
    .container-search {
        margin-top: 25px;
        @media (min-width: 768px) {
            margin-top: 120px;
        }
        @media (min-width: 1200px) {
            margin-top: 50px;
        }
        .container-general-info-search {
            margin-top: 20px;
            @media (min-width: 768px) {
                padding: 40px 0px;
            }
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .page-title {
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;
                h1 {
                    font-family: 'texgyreadventorregular';
                    color: $azul;
                    font-size: 23px;
                    line-height: 34px;
                    margin-bottom: 0px;
                    @media (min-width: 768px) {
                        font-size: 29px;
                        line-height: 40px;
                    }
                    @media (min-width: 992px) {
                        font-size: 35px;
                        line-height: 45px;
                    }
                    span {
                        color: $amarillo;
                    }
                }
            }
            .cont-result-posts {
                margin-top: 20px;
                .title-result-search-post {
                    margin-bottom: 10px;
                    h2 {
                        font-size: 19px;
                        a {
                            color: $gris;
                            font-family: 'ralewaylight';
                        }
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                    }
                }
            }
            .no-results.not-found {
                .page-content {
                    margin-top: 20px;
                    p {
                        font-family: 'ralewaylight';
                        color: $gris;
                    }
                    .searchform {
                        @include display-flex();
                        input {
                            width: 100%;
                            display: block;
                            font-family: 'ralewaylight';
                            padding: 5px;
                            border: 1px solid #ced4da;
                            border-right: none;
                            border-radius: 2px;
                            font-size: 14px;
                            color: #393A3A;
                        }
                        .button-submit {
                            font-family: 'texgyreadventorregular';
                            text-decoration: none;
                            text-align: center;
                            font-size: 16px;
                            line-height: 17px;
                            background-color: $amarillo;
                            color: $azul_light;
                            padding: 8px 0px 10px;
                            width: 150px;
                            max-width: 100%;
                            &:hover {
                                background-color: $azul;
                                color: $amarillo;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}